<div class="container preview">
  <div class="row justify-content-between work-main">
    <div class="col-md-6">
      <app-gallery [imageUrls]="galleryImages" [autoPlay]="true"></app-gallery>
    </div>
    <div class="col-md-5">
      <h2>Yo Gabba Gabba</h2>
      <h5 class="customer">Nick Jr.</h5>
      <p>At Pixel Pirate Studio, I was part of a team set to animate a short commissioned by popular children’s television program
        <em>Yo Gabba Gabba</em>.</p>

      <p>The staff of the show sent us the audio to be used, a small story about a little boy who liked beets but had to accept
        that others didn’t like them as much as he did. I worked in a pipeline, first as a keyframe artist, then moved onto
        in-betweens, and finally cleanups.</p>
    </div>
  </div>
</div>
