<div class="container preview">
  <div class="row justify-content-between work-main">
    <div class="col-md-6">
      <img src="assets/img/work/comic/01.png" class="img-fluid img-thumbnail" alt="The Happening at Fulton's Chimney">
    </div>
    <div class="col-md-5">
      <h2>Comic Cover</h2>
      <h5 class="customer">The Happening at Fulton’s Chimney</h5>
      <p>A few years back I was working on a webcomic about a group of adventurers and their crazy journey into uncharted territory
        entitled
        <em>The Happening at Fulton’s Chimney</em>.</p>

      <p>While the comic never came to fruition this promotional cover for the first volume has survived through many a hard
        drive and holds a special place in my heart.</p>

      <p>Using flash, Illustrator, and photoshop I used my illustrative skills and technical know-how to weave it all together
        into this fun little piece.
      </p>
    </div>
  </div>
</div>
