<div class="container preview">
  <div class="row justify-content-between work-main">
    <div class="col-md-6">
      <app-gallery [imageUrls]="galleryImages" [autoPlay]="true"></app-gallery>
    </div>
    <div class="col-md-5">
      <h2>App Iconography</h2>
      <h5 class="customer">FEMA</h5>
      <p>Using the knowledge of iconography I cultivated at Benten Technologies, I was tasked at CTEC to create a series of
        "reward" icons for a scavenger hunt minigame for an e-learning course for FEMA.</p>

      <p>Using Illustrator I whipped these up in a day and was happy to deliver such alluring riches to the client, even if
        they were only digital riches!</p>
    </div>
  </div>
</div>
