<div class="container" id="works">

  <h5 class="text-center">FEATURED WORK</h5>

  <div class="row">
    <div class="col-md-4 work-card small-text">
      <figure class="effect-sadie">
        <img src="assets/img/home/featured-smokeout.png" class="img-fluid">
        <figcaption>
          <h2>Smoke
            <span>Out</span>
          </h2>
          <span class="company">American Cancer Society</span>
          <p>Anti-smoking campaign</p>
          <a routerLink="/work/smokeout">View more</a>
        </figcaption>
      </figure>
    </div>
    <div class="col-md-4 work-card small-text">
      <figure class="effect-sadie">
        <img src="assets/img/home/featured-yogabba.png" class="img-fluid">
        <figcaption>
          <h2>Yo Gabba
            <span>Gabba</span>
          </h2>
          <span class="company">Nick Jr.</span>
          <p>Animated short for TV's
            <br>Yo Gabba Gabba</p>
          <a routerLink="/work/yogabbagabba">View more</a>
        </figcaption>
      </figure>
    </div>
    <div class="col-md-4 work-card small-text">
      <figure class="effect-sadie">
        <img src="assets/img/home/featured-gameicons.png" class="img-fluid">
        <figcaption>
          <h2>App
            <span>Iconography</span>
          </h2>
          <span class="company">FEMA</span>
          <p>Icons for instructional fire-safety
            <br> measurements iPhone game.</p>
          <a routerLink="/work/fema">View more</a>
        </figcaption>
      </figure>
    </div>
    <div class="col-md-4 work-card small-text">
      <figure class="effect-sadie">
        <img src="assets/img/home/featured-holidaycards.png" class="img-fluid">
        <figcaption>
          <h2>Holiday
            <span>Cards</span>
          </h2>
          <span class="company">CTEC</span>
          <p>Customer holiday cards depicting
            <br>seasonal figures and traditions</p>
          <a routerLink="/work/holidaycards">View more</a>
        </figcaption>
      </figure>
    </div>
    <div class="col-md-4 work-card small-text">
      <figure class="effect-sadie">
        <img src="assets/img/home/featured-dau.png" class="img-fluid">
        <figcaption>
          <h2>Training
            <span>Campaign</span>
          </h2>
          <span class="company">Defense Acquisition University</span>
          <p>Training material to help veterans
            <br>build their professional careers</p>
          <a routerLink="/work/dau">View more</a>
        </figcaption>
      </figure>
    </div>
    <div class="col-md-4 work-card small-text">
      <figure class="effect-sadie">
        <img src="assets/img/home/featured-wizardcomp.png" class="img-fluid">
        <figcaption>
          <h2>Comic
            <span>Cover</span>
          </h2>
          <span class="company"></span>
          <p>Promotional poster for
            <br>The Happening at Fulton's Chimney</p>
          <a routerLink="/work/comic">View more</a>
        </figcaption>
      </figure>
    </div>
  </div>
  <hr>
</div>
