<div class="container preview">
  <div class="row justify-content-between work-main">
    <div class="col-md-6">
      <app-gallery [imageUrls]="animatedGalleryImages" [autoPlay]="true" [autoPlayInterval]="4500"></app-gallery>
      <app-gallery [imageUrls]="galleryImages" [autoPlay]="true"></app-gallery>
    </div>
    <div class="col-md-5">
      <h2>Smoke Out</h2>
      <h5 class="customer">American Cancer Society</h5>
      <p>The Great American Smokeout was an event held by the American Cancer Society. Its chief focus was to spread awareness
        of the various methods of quitting smoking, suggesting techniques and lifestyle choices that can be utilized by both
        the quitter and the people supporting the quitter.</p>

      <p>Saxton Moore, Co-owner of Pixel Pirate Studios, commissioned me to work along-side him in crafting a series of eye-catching
        gifs for the Society to host on their website. These gifs were used as both links and header images for the various
        quitting/support techniques.</p>

      <p>I was given the Illustrator files of each character and whatever props they may have had and I was given a loose idea
        of what each character should do in the gif they were starring in. I used flash and Illustrator to manipulate the
        assets and create the gifs you see here, sometimes having to create assets on the fly if a frame didn’t look the
        best it could. I used photoshop to tie it all together and the rest is history!</p>
    </div>
  </div>
</div>
