<div class="container preview">
  <div class="row justify-content-between work-main">
    <div class="col-md-6">
      <app-gallery [imageUrls]="galleryImages" [autoPlay]="true" [height]="325"></app-gallery>
    </div>
    <div class="col-md-5">
      <h2>Holiday Cards</h2>
      <h5 class="customer">Ctec</h5>
      <p>At CTEC, we had a large numbers of partners, clients, and contractors that we came to be very thankful for, especially
        around the holiday season. I was tasked to create elements for an animated e-card that we would send to all these
        friends as a thank-you for their support.</p>

      <p>I basically made asset in the video, utilizing a mix of illustrator and photoshop. I worked close with the compositor
        to make sure it all fit into the animation seamlessly.</p>
    </div>
  </div>
</div>
