<div class="container preview">
  <div class="row justify-content-between work-main">
    <div class="col-md-6">
      <app-gallery [imageUrls]="galleryImages" [autoPlay]="true"></app-gallery>
    </div>
    <div class="col-md-5">
      <h2>Safety Brochures</h2>
      <h5 class="customer">Defense Acquisition University</h5>
      <p>During my time at Cybermedia Technologies (CTEC), we worked very closely with Defense Acquisition University, a government
        program designed to help train veterans for a myriad of career paths and technical knowledge.</p>

      <p>I was asked to help with the myriad e-learning courses CTEC was in charge of creating everything from infographics,
        illustrations, motion graphics, stock-photo manipulation, powerpoint presentations, and learning the composition
        program DART to place all these elements.</p>

      <p>Pictured here are a number of posters I was tasked with creating to represent the various jobs we were doing for DAU
        as a sort of rallying point for all our intra-office comers and goers.
      </p>
    </div>
  </div>
</div>
