<div class="container" id="contact">
  <div class="inner-container">
    <h5 class="text-center">CONTACT ME</h5>

    <ul class="c-list c-list--segmented">
      <li class="c-list__item">
        <a href="mailto:the.taylor.russell@gmail.com">
          <h4>Email</h4>
          <p>the.taylor.russell@gmail.com</p>
        </a>
      </li>
      <li class="c-list__item">
        <a href="https://www.linkedin.com/in/taylor-russell-0b042357/">
          <h4>LinkedIn</h4>
          <p>
            <span>linkedin.com/in/</span>taylor-russell-0b042357</p>
        </a>
      </li>
    </ul>
  </div>
</div>
